<h2>Editar Perfil</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSave()">
  <!-- Nombre -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" placeholder="Tu nombre" />
    <mat-error *ngIf="profileForm.get('name')?.hasError('required')">
      El nombre es obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="ejemplo@mail.com" />
    <mat-error *ngIf="profileForm.get('email')?.hasError('required')">
      El email es obligatorio
    </mat-error>
    <mat-error *ngIf="profileForm.get('email')?.hasError('email')">
      Ingresa un email válido
    </mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" appPasswordStrength/>
    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
      {{ hidePassword ? '👁️' : '🙈' }}
    </button>
    <mat-error *ngIf="profileForm.get('password')?.hasError('required')">
      La contraseña es obligatoria
    </mat-error>
    <mat-error *ngIf="profileForm.get('password')?.hasError('minlength')">
      Debe tener al menos 6 caracteres
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">
    Guardar cambios
  </button>

  <button mat-stroked-button color="warn" type="button" (click)="logout()">
    Cerrar sesión
  </button>
</form>
